<html>
  <head>
    <title>Raspberry Pi Surveillance Camera</title>
  </head>
  <body>
    <h1>Raspberry Pi Surveillance Camera</h1>
    <br>
    <div>
     <h2>Name: {{name}}</h2>
     <h2>Email Sent: {{ emailsend }}</h2>
    </div>
    <img id="bg" src="{{ url_for('video_feed') }}" width="1080" height="720">
    <br><br><br>
    <h2 class="mt-5">CAMERA APP CONTROL</h2>
<form method="post" action="{{ url_for('tasks') }}">
<input type="submit" value="Start/Stop Recording" name="rec" />
</form>
    <form action = "{{ url_for('savedb') }}" method = "POST">
         <h3>Client Information</h3>
         Full Name:<br>
         <input type = "text" name = "name" value={{name}} /></br>         
         
         Email:<br>
         <input type = "email" name = "email" value= {{ emailsend }} /><br>
          <input type = "submit" value = "submit" /><br>
         
      </form>
      
      
      
   </body>
  </body>
</html>
