<html>
  <head>
    <title>Cypher- Adding User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple/siimple.css" />
  </head>
  <style>
    *{
      font-family: 'Roboto', sans-serif;
    }
  </style>
  <body>
    <div class="container has-pt-4 has-pb-4 has-pl-6 has-pr-6 is-flex has-items-center has-flex-wrap-mobile is-rounded">
      <!-- Navbar brand: always visible -->
      <a class="is-flex has-items-center has-mr-6-tablet has-mr-auto-mobile has-size-2 has-text-current">
          <i class="si-mug has-size-4 has-mr-2"></i>
          <strong>Cypher</strong>
      </a>
      <!-- Toggler button: only visible in mobile screens -->
      <div id="navbar-toggler" class="menu  is-hidden-tablet"></div>
      <!-- Navigation menu: by default hidden on mobile screens -->
      <div id="navbar-menu" class="is-flex-tablet has-justify-between has-w-full has-mt-4-mobile">
          <!-- Left side links -->
          <div class="is-flex-tablet">
              <!-- if admin show link-->
              <a class="navlink has-mb-2-mobile" href="{{url_for('home')}}">Home</a>
              {% if admin %}
              <a href="{{ url_for('add_user') }}" class="navlink has-mb-2-mobile">Add User</a>
              {% endif %}
              <!-- show all users in this link-->

              <!-- go to edit settings and fetch userid-->
              <a href="{{ url_for('edit_settings') }}" class="navlink has-mb-2-mobile">Settings</a>
          </div>
          <!-- Right side conttent -->
          <div class="has-ml-auto-tablet has-mt-4-mobile">
              <a href="{{ url_for('logout') }}" class="navlink has-mb-2-mobile">
                <i class="si-logout has-size-4 has-mr-2"></i>Logout</a>
          </div>
      </div>
    </div>
    <div class='container pt-3'>
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,message in messages %}
            <div class='alert alert-{{category}}'>{{message}}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block body %}
      
      {% endblock %}
    </div>
  </body>
</html>